{% extends "base.html" %}

{% block start %}

<div class="navBar w-100">
    <h2 class="heading">Expense Tracker</h2>    
    <a href="/logout" class="logout-btn">Logout</a>
</div>

<div class="container empbox">
    <h2>Balance</h2>
    <span id="Balance">₹{{profile.balance}}</span>
    <button class='income' onClick=showDialog()><i class="fa-solid fa-pen-to-square text-white"></i></button>
    
    <dialog id="dialog" class="bg-dark rounded-3 text-white">
        <form class"form" action="/updateIncome" method="POST">
            {% csrf_token %}
            <span>Enter your income: </span><input type="number" class="form-control" name="amount" min="0"><br/>
            <button onclick=closeDialog() type="submit" class="btn btn-primary">Update Income</button>
            <button onclick=closeDialog() type="button" class="btn btn-danger">Close</button>
        </form>
    </dialog>
    <script>
        const dialogElem = document.getElementById("dialog");
        const closeBtn = document.getElementById("close");

        function showDialog(){
            dialogElem.showModal();
        }
        function closeDialog(){
            dialogElem.close();
        }

    </script>
    <div class="expContainer w-100">
        <div class='amt'>
            <legend>Income</legend>
            <span class="moneyPlus">+₹{{profile.income}} </span>
        </div>
        <div class='amt'>
            <legend>Expense</legend>
            <span class="moneyMinus">-₹{{profile.expenses}}</span>
        </div>
    </div>

    <h3>Add Transactions</h3>
    {% if error %}
    <span class="error">{{error}}</span>
    {% endif %}
    <form id="form" method="POST">
        {% csrf_token %}
        <div class="formControl">
            <label for="text">Text</label> <br>
            <input type="text" class="form-control" id="text" name="text" placeholder="Enter text..." >
        </div>

        <div class="formControl">
            <label for="amount">Amount</label> <br>
            <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount..." >
        </div>

        <div class="formControl">
            <label for="type">Expense type</label>
            <select id="expense_type" name="expense_type">
                <option>-- select expense type --</option>
                <option value="Negative">Debit</option>
                <option value="Positive">Credit</option>
            </select>
        </div>

        <button class="submit-btn" type="submit" >Add transaction</button>
    </form>

    <h3>History</h3>
    <ul class="list">

    {% if message %}
        <span>{{message}}</span>
    {% endif %}
    
    {% for expense in expenses %}
    {% if expense.expense_type == 'Negative' %}
    <li class="elist">
        <span>{{expense.name}}</span><span class="minus">-₹{{expense.amount}} <a href="deleteData/{{expense.id}}" class="delete-button">X</a></span>
    </li>
    {% else %}
    <li class="elist">
        <span>{{expense.name}}</span><span class="plus">+₹{{expense.amount}} <a href="deleteData/{{expense.id}}" class="delete-button">X</a></span>
    </li>
    {% endif %}
    {% endfor %}
    </ul> 

</div>

{% endblock %}